<section class="container" chat>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-warning">
                <div class="panel-heading">Chat</div>

                <div class="list-group" id="messages"></div>

                <div class="panel-body">


                    <form class="form-inline" id="chatForm">

                        <input class="form-control"
                               type="text" id="m" autocomplete="off"
                               placeholder="Type message here" required/>

                        <button class="btn btn-success" type="submit">Send</button>

                    </form>

                </div>


            </div>
        </div>
    </div>
</section>