<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-warning">
                <div class="panel-heading">Chat</div>

                <ul class="list-group" id="messages"></ul>

                <div class="panel-body">


                    <form class="form-inline">
                        <input class="form-control"
                               type="text" id="m" autocomplete="off"
                               placeholder="Type message here" required/>
                        <button class="btn btn-success" type="submit">Send</button>
                    </form>
                </div>


            </div>
        </div>
    </div>
</section>